@model BlogWeb.API.Models.ViewModels.TagViewModel
@{
}
<link rel="stylesheet" href="~/css/Edit.css" />

<div class="card card-for-tag">
    @if (Model.TagInfo != null)
    {
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" asp-action="Edit">
                <input type="hidden" asp-for="TagInfo.Id" />

                <div class="form-group">
                    <input asp-for="TagInfo.Name" id="CategoryName" class="form-control" placeholder="Enter Name" />
                    <span asp-validation-for="TagInfo.Name" class="text-danger"></span>
                </div>
                <div class="form-group" id="da">
                    <div class="input-group">
                        <select asp-for="TagInfo.CategoryId" class="form-control custom-select" style="border-radius: 5px;" asp-items="ViewBag.CategoryId">
                            <option value="">Select Category</option>
                        </select>
                    </div>
                    <span asp-validation-for="TagInfo.CategoryId" class="label-danger"></span>
                </div>
                <div class="form-group" id="da">
                    <input asp-for="TagInfo.DisplayName" id="CategoryDescription" class="form-control" placeholder="Enter Percentage" />
                    <span asp-validation-for="TagInfo.DisplayName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-update">Update</button>
                            <a class="btn btn-cancel" onclick="window.history.back()">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    }
    else
    {
        <p>Tag not found!</p>
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

