@model BlogWeb.API.Models.ViewModels.AdminBlogPostViewModel;
@{
}
<link rel="stylesheet" href="~/css/Create.css" />
<div class="container mt-5">
<div class="card card-for-blogs">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" asp-action="Add">
            <h3 style="text-align:center; margin-bottom:20px;">Add New Blog</h3>
        <div class="mb-3">
                    <input type="text" class="form-control" id="heading" asp-for="blogPostInfo.Heading" placeholder="Heading" required />
        </div>

        <div class="mb-3">
                    <input type="text" class="form-control" id="pageTitle" asp-for="blogPostInfo.PageTitle" placeholder="Page Title" required />
        </div>

        <div class="mb-3">
                    <textarea class="form-control" id="content" asp-for="blogPostInfo.Content" required></textarea>
        </div>

        <div class="mb-3">
                    <input type="text" class="form-control" id="shortDescription" asp-for="blogPostInfo.ShortDescription" placeholder="Short Description" required />
        </div>

        <div class="mb-3">
            <input type="file" id="featuredImageUpload" class="form-control" />
            <img src="" id="featuredImageDisplay" style="display:none;width: 300px;" />
        </div>

        <div class="mb-3">
                    <input type="text" class="form-control" id="featuredImageUrl" asp-for="blogPostInfo.FeaturedImageUrl" placeholder="Featured Image URL" required />
        </div>

        <div class="mb-3">
                    <input type="text" class="form-control" id="urlHandle" asp-for="blogPostInfo.UrlHandle" placeholder="URL Handle" required />
        </div>

        <div class="mb-3">
                    <input type="date" class="form-control" id="publishedDate" asp-for="blogPostInfo.PublishedDate" placeholder="Published Date" required />
        </div>

        <div class="mb-3">
                    <input type="text" class="form-control" id="author" asp-for="blogPostInfo.Author" placeholder="Page Author" required />
        </div>

                 <div class="mb-3">
                    <label class="form-label">Tags</label>
                    <select class="form-select" asp-items="@Model.Tags" asp-for="SelectedTags" ></select>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group" id="botam">
                            <input type="submit" value="Create" class="btn btn-create" />
                            <button type="button" class="btn btn-cancel" onclick="window.history.back()">Cancel</button>
                        </div>
                    </div>
                </div>


    </form>
</div>
</div>
</div>
@section Scripts {
    <script>
        var editor = new FroalaEditor('#content', {
            imageUploadURL: '/api/image'
        });


        const featuredUploadElement = document.getElementById('featuredImageUpload');
        const featuredImageUrlElement = document.getElementById('featuredImageUrl');
        const featuredImageDisplayElement = document.getElementById('featuredImageDisplay');


        async function uploadFeaturedImage(e) {
            console.log(e.target.files[0]);

            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/image', {
                method: 'POST',
                headers: {
                    'Aceept': '*/*',
                },
                body: data
            }).then(response => response.json())
                .then(result => {
                    featuredImageUrlElement.value = result.link;
                    featuredImageDisplayElement.src = result.link;
                    featuredImageDisplayElement.style.display = 'block';
                });
        }


        featuredUploadElement.addEventListener('change', uploadFeaturedImage);

    </script>
} 



