@model BlogWeb.API.Models.ViewModels.RegisterViewModel
@{
}


<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">

            <h1 class="mt-3 mb-3 h3">
                Assign Admin
            </h1>

            <form method="post">
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" id="username" class="form-control" asp-for="UserName" required />
                    <span class="text-danger" asp-validation-for="UserName"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-dark">Assign Role</button>
                </div>
            </form>
        </div>
    </div>
</div>