@model BlogWeb.API.Models.ViewModels.RegisterViewModel
@{
}
<style>
    .toggle-password {
        left:320px;
        top:182px;
        position: absolute;
        cursor: pointer;
    }
</style>
<link rel="stylesheet" href="~/css/Create.css" />
<div class="card card-for-category">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" asp-action="Register">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="form-group">
                        <input asp-for="UserName" class="form-control" placeholder="UserName" required />
                        <span asp-validation-for="UserName" class="label-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="form-group">
                        <input type="email" asp-for="Email" class="form-control" placeholder="Email Address" required />
                        <span asp-validation-for="Email" class="label-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="form-group">
                        <input type="password" id="password" asp-for="Password" class="form-control" placeholder="Password" required minlength="8" />
                        <span toggle="#password" class="fa fa-eye toggle-password"></span>
                        <span asp-validation-for="Password" class="label-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="form-group" id="botam">
                        <input type="submit" value="Register" class="btn btn-create" />
                        <button type="button" class="btn btn-cancel" onclick="window.history.back()">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    @if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <div class="error-message">
                            <label class="label label-danger">@ViewBag.Message</label>
                        </div>
                    }
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $(".toggle-password").click(function () {
                $(this).toggleClass("fa-eye fa-eye-slash");
                var input = $($(this).attr("toggle"));
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });
        });
    </script>
}




